:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark_gradient {
    @apply dark:bg-gradient-to-b dark:from-gray-900 dark:to-black;
  }
  .text {
    @apply text-slate-800 dark:text-white;
  }
  .colorText {
    @apply text-[crimson] dark:text-[#46e256];
  }
  .center {
    @apply flex items-center justify-center;
  }
  .layout {
    @apply container mx-auto px-2 lg:px-0;
  }
  .bg {
    @apply bg-white dark:bg-slate-900;
  }
  .title {
    @apply text-2xl text font-medium text-center font-poppins py-2;
  }
  .label {
    @apply font-poppins text;
  }
  .input {
    @apply w-full text bg-transparent border rounded h-8 px-2 outline-none mt-1.5 font-poppins;
  }
  .button {
    @apply center py-2 2xl:py-2.5 px-6 rounded-full cursor-pointer bg-primary hover:bg-primary/80 w-full font-poppins font-semibold;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.hero_animation {
  background-image: linear-gradient(
    147.92deg,
    hsla(239, 76%, 53%, 0.456) 10.41%,
    hsla(0, 0%, 100%, 0) 89.25%
  );
  animation: changeBackgroundColor 8s infinite alternate;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

.loader {
  border: 4px solid #19cec6;
  border-top: 4px solid #1f2937;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 3px gainsboro;
  border-radius: 4px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 23, 60, 0.5);
  border-radius: 5px;
}

/* chrome safari edge opera  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0%;
}

/* firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
